<%- include('../template/head')-%>

<body>
  <div>
    <%- include('../template/nav.ejs')-%>

    <main>
      <h1>EJS Home page</h1>
      <p>This is a sample app to use EJS view template engine</p>
    </main>

    <%- include('../template/footer.ejs')-%>
  </div>
</body>
</html>